<!doctype html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="{{ favicon }}">
  <link rel="alternate" type="application/atom+xml" href="{{ feed }}">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
  {% include "themes/header_content.html" %}
</head>
<body>

<div id="container"><div class="container-inner">

  <nav id="nav">
    <ul>
      {% for item in linklists.mainmenu %}
        <li{% if page.path == item.link %} class="selected"{% endif %}><a href="{{ item.link }}" title="{{ item.name|safe }}">{{ item.name|safe }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <header id="header">
    <span id="sitelogo">
      {{ site.logo|safe }}
    </span>
  </header>
  
  {% if settings.show_hero == 'all' or (settings.show_hero == 'home' and current_path == '/') %}
    <div id="hero" style="background-image:url({% if settings.custom_hero %}/img/upload/{{ settings.custom_hero }}{% else %}/static/dhplatform/img/categories/en/{{ vertical.category_image }}{% endif %})">
      <div class="hero-inner">
        {% if settings.call_to_action %}
        <div class="cta">
          {% if settings.call_to_action == 'phone' %}
            <strong>{{ settings.phone_label }}:</strong> {{ vertical.phone }}
          {% elif settings.call_to_action == 'address' %}
            {{ vertical.street }}, {{ vertical.city }}, {{ vertical.state }} {{ vertical.postal_code }}
          {% endif %}
        </div>
        {% endif %}
        {% if settings.show_contact %}
        <div class="contact-form">
          <h2>{{ settings.contact_label }}</h2>
          <form class="form" action="{{ base_directory }}{{ settings.contact_page }}" method="post">
            <fieldset>
              <p><label for="id_email">Name:</label> <input type="text" name="email" id="id_email"></p>
              <p><label for="id_phone">Email:</label> <input type="text" name="phone" id="id_phone"></p>
              <p><label for="id_name">Phone:</label> <input type="text" name="name" id="id_name"></p>
              <input type="hidden" name="key" value="a504ea61566818ddfc1835f800475651" id="id_key">
              <p class="submit">
                <input type="submit" value="Submit" class="button">
              </p>
            </fieldset>
          </form>
        </div>
        {% endif %}
        <div class="clear"></div>
      </div>
    </div>
  {% else %}
    <div class="bar"></div>
  {% endif %}

  <div id="body">
    {% include "themes/layout_content.html" %}
    <div class="clear"></div>
  </div>

  <footer id="footer">
    <p>
      {% for item in linklists.mainmenu %}
        <a href="{{ item.link }}" title="{{ item.name|safe }}">{{ item.name|safe }}</a>{% if not loop.last %} &bull;{% endif %}
      {% endfor %}
    </p>
  </footer>

</div></div>

<!--[if lt IE 7 ]>
    <script src="/static/dhplatform/boilerplate/js/dd_belatedpng.js?v=1"></script>
<![endif]-->

{% include "themes/footer_content.html" %}

</body>
</html>
